*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header section and navigation */
header{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.089)), url("../images/donation0.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.banner-content{
    margin: 0 auto;
    color: white;
    width: 842px;
    padding-top: 150px;
}

.banner-title{
    font-size: 67px;
    text-align: center;
    line-height: 0.99;
    margin-bottom: 25px;
}

.banner-description{
    text-align: center;
    width: 629px;
    display: block;
    margin: 0 auto;
    line-height: 1.44;
    margin-bottom: 25px;
    color: #dddddd;
}

.btn-primary{
    background-color: #FF5959;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}

header .logo{
    color: white;
    padding: 4px 58px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.473);
}

nav ul {
    display: flex;
    gap: 80px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    color: white;
    padding-right: 50px;
    
}

/* donate-today */

.donate-today{
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-today-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #121212;
    font-weight: 800;

}

.donate-today-description{
    text-align: center;
    margin-bottom: 20px;
    color: #707070;
}

.donate-today-allboxes{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.single-box{
    padding: 0 25px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.single-box:nth-child(2){
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;

}

.other-account-tk{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #D4D4D4;
    border-top: white;
    border-left: white;
    border-right: white;
    padding: 8px 0;
    font-size: 18px;
}

.other-account-tk:focus{
    outline: none;
}

.other-account-tk::placeholder{
    color:#D4D4D4;
    border-top: white;
}

/* our-donate-plan */

.our-donate-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.our-donate-plan h3{
    font-size: 35px;
    margin-bottom: 20px;
    color: #121212;
}

.donate-plan-description{
    font-size: 15px;
    margin-bottom: 20px;
    color: #707070;
    text-align: center;
    width: 600px;
}

.donate-plan-allboxes{
    display: flex;
    margin: 0 100px;
    gap: 30px;
}

.donateplan-sigleboxes{
    padding: 40px 15px;
    background-color: #EDF5F6;
}

.donateplan-sigleboxes:nth-child(2){
    background-color: #FFEEEE;
}
.donateplan-sigleboxes:nth-child(3){
    background-color: #FFF4D6;
}

.donateplan-sigleboxes i{
    font-size: 20px;
    margin-bottom: 18px;
    font-size: 69px;
}

.donateplan-sigleboxes h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.donateplan-sigleboxes p {
    text-align: left;
    margin-bottom: 20px;
    color: #707070;
}

/* Their lives depend on your donation */

#depend-donation{
    margin: 0 100px;
    display: flex;
    gap: 50px;
}

#depend-donation img{
    width: 100%;
}

.depend-donation-left{
    margin-top: auto;
}

.depend-donation-left p {
    margin-bottom: 20px;
    color: #707070;
}
.depend-donation-left h2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #121212;
}
.depend-donation-left button{
    float: left;
}

/* They need us to survive */
.survive-section{
    display: flex;
    gap: 50px;
    margin: 0 100px;
    margin-top: 100px;
}

.survive-section h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.survive-section p{
    color: #707070;
    margin-bottom: 20px;
}

.survive-section button{
    float: left;
}

.survive-section-right{
    margin-top: 90px;
    width: 100%;
}

/* get-my-update */

.get-my-update{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    width: 40%;
    margin: 0 auto;
}

.get-my-update h2{
    margin-bottom: 20px;
    color: #121212;
    font-size: 35px;
}

.get-my-update p{
    color: #707070;
    margin-bottom: 30px;
}

.input-div{
    background-color: #FFF4D6;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-div input{
    padding: 10px;
    border: 0;
}
.input-div input:focus{
    outline: none;
}

.btn-subscribe{
    background-color: #FF5959;
    color: white;
    border: 0;
    text-transform: capitalize;
    font-weight: 500;
}

/* This is footer section */
footer{
    background-color: #121212;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
footer h3{
    color: #FF5959;
    text-align: center;
    font-style: italic;
    display: flex;
    align-items: center;
}