*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header section and navigation */
header{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.089)), url("../images/donation0.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

.banner-content{
    margin: 0 auto;
    color: white;
    width: 842px;
    padding-top: 150px;
}

.banner-title{
    font-size: 67px;
    text-align: center;
    line-height: 0.99;
    margin-bottom: 25px;
}

.banner-description{
    text-align: center;
    width: 629px;
    display: block;
    margin: 0 auto;
    line-height: 1.44;
    margin-bottom: 25px;
    color: #dddddd;
}

.btn-primary{
    background-color: #FF5959;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 15px 20px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}

header .logo{
    color: white;
    padding: 4px 58px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.473);
}

nav ul {
    display: flex;
    gap: 80px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    color: white;
    padding-right: 50px;
    
}

/* donate-today */

.donate-today{
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-today-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #121212;
    font-weight: 800;

}

.donate-today-description{
    text-align: center;
    margin-bottom: 20px;
    color: #707070;
}

.donate-today-allboxes{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.single-box{
    padding: 0 25px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #707070;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.single-box:nth-child(2){
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;

}

.other-account-tk{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #D4D4D4;
    border-top: white;
    border-left: white;
    border-right: white;
    padding: 8px 0;
    font-size: 18px;
}

.other-account-tk::placeholder{
    color:#D4D4D4;
    border-top: white;
}